/*-------------------Brown SPS EMCS Program-------------------*/


/*-------------------Home Page-------------------*/

#home-img {
  min-width:100%;
  height:auto;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 5px 0px 5px 0px;
}

#home-mod-table {
  border: gray solid .5px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #f6f6f6;
  font-size: 13px;
  line-height:1em;
  border-spacing: 7px;
  border-collapse: separate;
  text-decoration:none;

}

#home-mod-table td {
  border: 2px solid black;
  border-radius:5px;
  background-color:#fff;
    -webkit-transition: all .075s ease-out;
  -moz-transition: all .075s ease-out;
  -o-transition: all .075s ease-out;
  -ms-transition: all .075s ease-out;
  transition: all .075s ease-out;
  font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS",Arial, sans-serif;
  font-size: 1em;
  width: 50%;
}

#home-mod-table td:hover {
  background-color: #0085C2;
  color: #fff !important;
  -webkit-transition: all .075s ease-in;
  -moz-transition: all .075s ease-in;
  -o-transition: all .075s ease-in;
  -ms-transition: all .075s ease-in;
  transition: all .075s ease-in;
}

#home-mod-table a {
    display:block;
    text-decoration:none;
    font-size: 1.1em;
    line-height: 1.4;
    margin:5px;
    color: #333;
}

#home-mod-table a:visited {
    text-decoration:none;
    color:inherit;
}

#home-mod-table a:hover {
    text-decoration:none;
    color:#fff;
}

#orientation {
  background-color:#808080;
  color:#fff;
  margin-bottom: 5px;
  padding: 3px;
  border-radius: 8px;
  text-align: center;
  transition:500ms;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -o-transition: 500ms;
  -ms-transition: 500ms;
  font-family: "Courier New";
}

#orientation:hover {
  background-color:#979797;
  transition:200ms;
  -webkit-transition: 200ms;
  -moz-transition: 200ms;
  -o-transition: 200ms;
  -ms-transition: 200ms;
}

#orientation a {
  display:block;
  text-decoration:none;
  color:#fff;
}

#orientation a:visited {
  display:block;
  text-decoration:none;
  color:#fff;
}

#orientation a:hover {
  display:block;
  text-decoration:none;
  color:#fff;
}

/*-------------------Content Pages-------------------*/


.show-content.user_content.enhanced {
   font-size: 115%;
   margin: 0 auto;
   /*margin-left: 4em;*/
   max-width: 850px;
   font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS",Arial, sans-serif;
  }

.show-content.user_content.enhanced p {
    line-height: 1.5;
    font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS",Arial, sans-serif;
}

.show-content.user_content.enhanced h2, h3, h4, h5 {
  font-family: "PT Sans", "Trebuchet MS","TrebuchetMS", Arial, sans-serif;
  line-height: normal;
}

.show-content.user_content.enhanced h4,h5 {
  font-weight:bold;
}

.page-title {
  font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS", Arial, sans-serif;
  font-size: 190% !important;
  color:#645E50 !important;
  /*display:none;*/
}

.show-content.user_content.enhanced::after {
  margin-bottom: 2em;
}
 /*color:#FFF !important;*/

/*-------------------Discussion Pages-------------------*/
.message.user_content.enhanced {
  font-size: 115%;
  font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS", Arial, sans-serif;
}

.message.user_content.enhanced  p {
    line-height: 1.5;
    font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS",Arial, sans-serif;
}

.message.user_content.enhanced  h2, h3, h4, h5 {
  font-family: "PT Sans", "Trebuchet MS","TrebuchetMS", Arial, sans-serif;
  line-height: normal;
}

.message.user_content.enhanced  h4,h5 {
  font-weight:bold;
}

.discussion-title {
  font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS",Arial, sans-serif;
}

.message.user_content.enhanced::after {
  margin-bottom: 2em;
}

/*-------------------Assignment Pages-------------------*/
.description.user_content.teacher-version.enhanced {
  font-size: 115%;
  margin: 0 auto;
  max-width: 850px;
  font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS",Arial, sans-serif;
}

.description.user_content.student-version.enhanced {
  font-size: 115%;
  margin: 0 auto;
  max-width: 850px;
  font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS",Arial, sans-serif;
}

.description.user_content.student-version.enhanced::after {
  margin-bottom: 2em;
}

.description.user_content.teacher-version.enhanced::after {
  margin-bottom: 2em;
}

/*-------------------MISC-------------------*/


#pre-work {
  font-family: "PT Sans", "Trebuchet MS", "TrebuchetMS",Arial, sans-serif;
  background-color:#FFFDE7;
  border-radius: 5px;
  border: #9E9E9E 1px solid;
  padding: 1.5em 2em 1.5em 2em;
}

.header-bar-left {
  font-size: 0;
}
/*removes header on home pages*/
